# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
env/
venv/
.env/
*.env

# Databases
*.db
*.sqlite*
*.db-*
*.sqlite3


# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml.env
# Backup files
/*.bak
*.bak
data/

# Logs
*.log

# txt
*.txt
/*.txt