# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
env/
venv/
.env/
*.env

# Databases
*.sqlite*
*.sqlite3


# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml.env
# Backup files
/*.bak
*.bak
data/

# Logs
*.log

# txt
*.txt
/*.txt
!texts/
!texts/*.txt

#db 
petflix_2.1.db
petflix_2.1.db-shm
petflix_2.1.db-wal
petflix_3.0.db
petflix_3.0.db-shm
petflix_3.0.db-wal
